*  {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #16bc2f;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #3F72AF;
}

.menu {
    float: right;   
}

nav {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #b4df07;
    border-bottom: 5px solid #f87706;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: purple;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.Biografi {
    color: #ffffff;
}

.tengah ul li {
    color: #ffffff;
}

.tengah ul li p {
    color: #ffffff;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #3F72AF;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #3F72AF;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3282B8;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #FF2E63;
    text-decoration: none;
}

a.tbl-pink {
    background: #f304b7;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #06f87f;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.kolom {
    margin-right: 20px;
}

.tengah {
    text-align: left;
    width: 100%;
}

.gambar-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gambar-hobi {
    width: 20%;
    margin: 0 auto;
}
.gambar-hobi img {
    width: 80%;
    border-radius: 30%;
}

.gambar-hobi p {
    font-family: 'comic sans ms';
    font-style: 800;
    font-size: 25px;
    text-align: center;
    color: #f304b7;
}

#Contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
    width: 100%;
    line-height: 50px;
}

#copyright {
    background-color: #dedede;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 80%;
        height: auto;
    }
}